<h1> New Party </h1>

<%= form_for(@party) do |f| %>
<%= f.label "Name" %>
<%= f.text_field :name %>
<%= f.label "Budget" %>
<%= f.number_field :budget %>
<%= f.label "Display Date" %>
<%= f.date_field :date %>
<%= f.label "Category" %>
<%= f.text_field :category_name %>
<%= f.submit "Create Party" %>
<%end%>